@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>GreenCredits</title>
    <link href="/content/styles/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <a href="https://twitter.com/apegpbsk" ; class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow us</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <div class="fb-like" data-href="https://www.greencredits.com" data-width="20px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <div class="header">
        <a href="/home" class="logo">GreenCredits<sup>TM</sup><img src="/content/images/logo_part.png" /></a>
        <ul class="top_nav">
            <li><a href="/home#how_it_works">How it works</a></li>
            <li><a href="/home#about">About</a></li>
        </ul>
    </div>
    <div class="inner_section">
        <div class="inside_unit">
            <div class="heading" style="width: 450px; display: inline-block; text-align: left;">Confirm your email</div>

            <div class="clr"></div>

            <form class="form_container">
                <div class="row_block">
                    <label>Enter Password</label>
                    <input type="text" placeholder="Enter Password" />
                </div>
                <div class="row_block">
                    <label>Confirm Password</label>
                    <input type="text" placeholder="Confirm Password" />
                </div>

                <div class="row_block">
                    <a href="dashboard.html" class="button">Confirm</a>
                </div>

            </form>
            <div class="clr"></div>
        </div>
    </div>

    <div class="copyright_section">
        &copy GreenCredits 2015
    </div>

</body>
