
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>GreenCredits</title>
    <link href="/content/styles/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans' rel='stylesheet' type='text/css'>
    <body>
        <div class="header">
            <a href="index.html" class="logo">GreenCredits<img src="/content/images/logo_part.png" /></a>
            <ul class="top_nav">
                <li><a href="index.html#how_it_works">How it works</a></li>
                <li><a href="index.html#about">About</a></li>
            </ul>
        </div>
        <div class="inner_section">
            <div class="inside_unit">
                <div class="heading">Provide your information</div>

                <form class="form_container">
                    <div class="row_block">
                        <a href="#" class="tab_item active">I'm a farmer</a>
                        <a href="#" class="tab_item">I'm a trader</a>
                    </div>
                    <div class="row_block">
                        <label>Full Name</label>
                        <input type="text" placeholder="Full Name" />
                    </div>
                    <div class="row_block">
                        <label>Date of Birth</label>
                        <input type="text" placeholder="Date of Birth" />
                    </div>
                    <div class="row_block">
                        <label>Mobile</label>
                        <input type="text" placeholder="Mobile" />
                    </div>

                    <div class="row_block">
                        <label>Landline</label>
                        <input type="text" placeholder="Landline" />
                    </div>

                    <div class="row_block">
                        <label>Address</label>
                        <input type="text" placeholder="Address Line" />
                        <input type="text" class="small_input" placeholder="State" />
                        <input type="text" class="small_input" placeholder="City" />
                        <input type="text" class="small_input" placeholder="District" />
                    </div>

                    <div class="row_block">
                        <a href="dashboard.html" class="button">Get Started</a> or <a href="/dashboard">Skip</a>
                    </div>

                </form>
                <div class="clr"></div>
            </div>
        </div>

        <div class="copyright_section">
            &copy GreenCredits 2015
        </div>

    </body>
</head>