
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>GreenCredits</title>
        <link href="/content/styles/styles.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="~/content/Scripts/signup.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <a href="https://twitter.com/apegpbsk" ; class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow us</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <div class="fb-like" data-href="https://www.greencredits.com" data-width="20px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div class="header">
            <a href="/home" class="logo">GreenCredits<sup>TM</sup><img src="/content/images/logo_part.png" /></a>
            <ul class="top_nav">
                <li><a href="/home#how_it_works">How it works</a></li>
                <li><a href="/home#about">About</a></li>
            </ul>
        </div>
        <div class="inner_section">
            <div class="inside_unit">
                <div class="heading">Provide your information</div>

                <div class="form_container">
                    <div id="btns" class="row_block">
                        <a id="btnFarmer" href="javascript:void(0);" class="tab_item active">I'm a farmer</a>
                        <a id="btnTrader" href="javascript:void(0);" class="tab_item">I'm a trader</a>
                    </div>
                    <form id="form_farmer">
                        <input type="hidden" name="usertype" value="farmer"/>
                        <input type="hidden" name="userId" value="@TempData["FarmerId"]" />
                        <div class="row_block">
                            <label>Full Name</label>
                            <input id="fname" name="fname" type="text" placeholder="Full Name" autocomplete="off"/>
                        </div>
                        <div class="row_block">
							<label>Password</label>
                            <input id="password" name="password" type="password" placeholder="Passsword" autocomplete="off" />
						</div>
                        <div class="row_block">
                            <label>Mobile</label>
                            <input id="mobile" name="mobile" type="text" placeholder="Mobile" />
                        </div>
                        <div class="row_block">
                            <label>Address</label>
                            <input id="address" name="address" type="text" placeholder="Address Line" />
                            <input id="state" name="state" type="text" class="small_input" placeholder="State" />
                            <input id="city" name="city" type="text" class="small_input" placeholder="City" />
                            <input id="district" name="district" type="text" class="small_input" placeholder="District" />
                        </div>
                    </form>
                    
                    <form id="form_trader" style="display:none;">
                        <input type="hidden" name="usertype" value="trader" />
                        <div class="row_block">
                            <label>Company Name</label>
                            <input id="cname" name="cname" type="text" placeholder="Company Name" />
                        </div>
                        <div class="row_block">
                            <label>Password</label>
                            <input id="password" name="password" type="password" placeholder="Passsword" />
                        </div>
                        <div class="row_block">
                            <label>Email</label>
                            <input id="email" name="email" type="text" placeholder="Email" />
                        </div>
                        <div class="row_block">
                            <label>Product</label>
                            <input id="product" name="product" type="text" placeholder="Product" />
                        </div>
                        <div class="row_block">
                            <label>Sector</label>
                            <input id="sector" name="sector" type="text" placeholder="Sector" />
                        </div>
                        <div class="row_block">
                            <label>Region</label>
                            <input id="region" name="region" type="text" placeholder="Region" />
                        </div>
                        <div class="row_block">
                            <label>Address</label>
                            <input id="address" name="address" type="text" placeholder="Address Line" />
                            <input id="state" name="state" type="text" class="small_input" placeholder="State" />
                            <input id="city" name="city" type="text" class="small_input" placeholder="City" />
                            <input id="district" name="district" type="text" class="small_input" placeholder="District" />
                        </div>
                    </form>
                    <div class="row_block">
                        <span id="error_msg" style="display:none;">Get Started</span>
                    </div>
                    <div class="row_block">
                        <a id="btnSubmit" href="javascript:void(0);" class="button">Get Started</a>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>

        <div class="copyright_section">
            &copy GreenCredits 2015
        </div>
        <script>
            $(document).ready(function () {
                var objSignup = new Signup();
            });
        </script>
    </body>
</html>