@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>GreenCredits</title>
    <link href="/content//styles/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/content/Scripts/home.js"></script>


    <body>
        <div class="header">
            <a href="index.html" class="logo">GreenCredits<sup>TM</sup><img src="content/images/logo_part.png" /></a>
            <ul class="top_nav">
                <li><a href="#how_it_works">How it works</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="main_section">

            <div class="hero_unit">
                Grow Green Trees. Earn Green Credits
                <span class="sub_punch_line">An intiative to improve lives of farmers</span>

                <a href="#about" class="button inverted">Learn More</a>
                <a href="#signup" class="button">Get Started</a>

            </div>
        </div>
        <div class="about_section">
            <a id="about"></a>
            <div class="inside_unit">
                <div class="heading">So, what is exactly GreenCredits...</div>
                <p>A landowner can earn income from the planting of native trees utilising the fact that trees sequester carbon dioxide (CO<sub>2</sub>) from the atmosphere. This known as carbon sequestration.</p>
                <p>Nonetheless, ‘Carbon Farming’, whilst it is potentially a real source of long term future income, it is not a ‘get rich quick’ scheme. Carbon farming will not replace income from agricultural uses on those properties, or parts of your land, which can be used for viable cropping or grazing purposes. 
                It might be best described as representing a steady long term source of income for your Superannuation fund, or to reduce farm debt. In effect, growing carbon provides the landowner with a new and diversified “off-farm” source of income because Landowners have an equitable share in the income flow from selling tree-based carbon offsets to emitters.</p>
            </div>
        </div>

        <div class="who_for_section">
            <div class="inside_unit">
                <div class="heading">Who is GreenCredits for?</div>
                <div class="farmers_section">
                    <div class="heading">For Farmers</div>
                    With ‘carbon farming’ landowners and farmers will have to plant trees and forests that meet Kyoto compliant standards of article 3.3 of the Kyoto Protocol for reafforestation.
                    This will require to enter into an Agreement, known as the Forest Property Agreement (FPA) with ECO to protect and not cut down those trees, 
                    which you have grown. With GreenCredit, farmers can discover Traders and maximize there earning from Carbon credits.
                </div>
                <div class="traders_section">
                    <div class="heading">For Traders</div>
                    Carbon Traders in here can search and look for farmers who are into Carbon Farming. Traders and can deal with farmers and provide them monetory benefits in exchange of Carbon credits which can be earned from already planted trees.
                    Carbon credits and carbon markets are a component of national and international attempts to mitigate the growth in concentrations of greenhouse gases (GHGs). 
                    The goal is to allow market mechanisms to drive and motivate farmers in the direction of planting trees so that CO<sub>2</sub> emission can be controlled.
                </div>
            </div>
        </div>

        <div class="how_it_works">
            <a id="how_it_works"></a>
            <div class="inside_unit">
                <div class="heading">How it works?</div>
                <div class="farmers_section">
                    <div class="heading">For Farmers</div>
                    GreenCredit would be facilitating farmers would to manage trees as Carbon assets. They can manage carbon asset and locate nearby Traders who are looking for Carbon Trading through 'carbon farming'. They can also look into there earning which they have made from GreenCredit.
                    Farmers can contact Traders for possible buyer for 'carbon farming'.
                </div>
                <div class="traders_section">
                    <div class="heading">For Traders</div>
                    GreenCredit would provide platform to Traders where they can search farmer who are involved in 'carbon farming'. They can collaborate with farmers and can offer better deal for Carbon credit. 
                    Traders can have single platform to trade for Carbon points in exchange with 'carbon farming'. 
                </div>
            </div>
        </div>
        <div class="signup_section">
            <a id="signup"></a>
            <div class="inside_unit">
                <div class="heading">Signup to get started...</div>
                <form action="/signup/create" method="post" id="frmsignip">
                    <input id="email_txt" type="text" placeholder="Enter your email address" name="email" /><a id="submit_btn" href="javascript:void(0);" class="button">Get Started</a>
                    <span id="error_msg"></span>
                </form>
            </div>
        </div>
        <div class="copyright_section">
            &copy GreenCredits 2015
        </div>
        <script>
            $(document).ready(function () {
                var objHome = new Home();
            });
        </script>
    </body>
</head>
