
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>GreenCredits</title>
    <link href="/content/styles/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <a href="index.html" class="logo">GreenCredits<img src="/content/images/logo_part.png" /></a>
        <ul class="top_nav">
            <li><a href="index.html#how_it_works">How it works</a></li>
            <li><a href="index.html#about">About</a></li>
        </ul>
    </div>
    <div class="inner_section">
        <div class="inside_unit">
            <div class="heading" style="width: 450px; display: inline-block; text-align: left;">Login your account</div>

            <div class="clr"></div>

            <form class="form_container">
                <div class="row_block">
                    <label>Email</label>
                    <input type="text" placeholder="Enter Email" />
                </div>
                <div class="row_block">
                    <label>Password</label>
                    <input type="text" placeholder="Password" />
                </div>

                <div class="row_block">
                    <a href="dashboard.html" class="button">Login</a>
                </div>

            </form>
            <div class="clr"></div>
        </div>
    </div>

    <div class="copyright_section">
        &copy GreenCredits 2015
    </div>

</body>
</html>
